src/main/mule/raiseerror.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<http:listener-config name="HTTP_Listener_config">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="raise-error-example-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/test" allowedMethods="POST"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="80bea07b-9cf7-4986-8787-afa4c0885dc0" >
			<scripting:code >#[vars.first==payload]
</scripting:code>
		</scripting:execute>
		<choice>
			<when expression="#[message.attributes.queryParams.age &lt; 16]">
				<raise-error type="PRECONDITIONS:INCORRECT_AGE" description="Minimum age of 16 required to drive" />
			</when>
			<otherwise >
				<logger level="INFO" message="User age above 16 years. Allowed to drive"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" type="PRECONDITIONS:INCORRECT_AGE">
				<logger level="INFO" message="Minimum age to drive is 16 years old"/>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true"  type="MULE:EXPRESSION">
				<logger level="INFO" message="The parameter age is missing or invalid"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	
	</mule>
